@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo (a)!</h1>
    <p>Essa é a documentação do projeto final MS-DEV!</p>
</div>

<div class="text-left">
   <p>Esse é o passo-a-passo para utilização do programa.</p>
    <p>O programa tem como finalidade simular o uso de um elevador, onde o usuário poderá subir e descer os andares, bem como, adicionar ou tirar pessoas do elevador.</p>
    <p>A capacidade máxima do elevador e o total de andares do prédio é definido pelo usuário!</p>
    <h3> Primeiro passo:</h3>
    <p>Definir a capacidade máxima de pessoas permitidas no elevador: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/yqWrvF6/passo1.jpg" alt="passo1" border="0"></a>
    <h3> Segundo passo:</h3>
    <p>Definir a quantidade de andares do prédio: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/RbFLyg3/passo2.jpg" alt="passo2" border="0"></a>
    <h3> Terceiro passo:</h3>
    <p>Definir qual ação que usuário deseja realizar: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/dcbgdC8/passo3.jpg" alt="passo3" border="0"></a>
    <h3> Opção 1:</h3>
    <p>Será incrementado uma pessoa no elevador, o sistema considera que ele sempre iniciára como vazio: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/Bz4BcYS/passo4.jpg" alt="passo4" border="0"></a>
    <h3> Opção 2:</h3>
    <p>O elevador subirá um andar, o sistema considera que ele sempre iniciará no térreo: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/gSCXF8H/passo5.jpg" alt="passo5" border="0"></a>
     <h3> Opção 3:</h3>
    <p>Sairá uma pessoa do elevador: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/9N1SkRr/passo6.jpg" alt="passo6" border="0"></a>
    <h3> Opção 4:</h3>
    <p>O Elevador descerá um andar: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/KrhPsv0/passo7.jpg" alt="passo7" border="0"></a>
    <h3> Opção 5:</h3>
    <p>O Programa será finalizado: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/qmBpGyF/passo8.jpg" alt="passo8" border="0"></a>

    <h3> Exceções:</h3>
    <p>1. Caso o usuário tente inserir MAIS pessoas do que permitido na capacidade máxima do elevador, o sistema informará o seguinte erro: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/Tgc9cwd/passo9.jpg" alt="passo9" border="0"></a>
    <p>2. Caso o usuário tente inserir MENOS pessoas do que permitido na capacidade máxima do elevador (0), o sistema informará o seguinte erro: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/X4MgMkT/passo10.jpg" alt="passo10" border="0"></a>
    <p>3. Caso o usuário tente SUBIR mais andares do que a capacidade do prédio será informada a seguinte mensagem: </p>
    <a href="https://ibb.co/ck5Dyfz"><img src="https://i.ibb.co/gm1zrqs/passo11.jpg" alt="passo11" border="0"></a>
    <p>4. Caso o usuário tente DESCER mais andares do que o térro será informada a seguinte mensagem: </p>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/k8XTxnK/passo12.jpg" alt="passo12" border="0"></a>

    <h3> Fim!</h3>
    <p>Aluna: Rayssa Moreira - Turma 10 </p>


</div>